.right-panel{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}
.right-panel ul{
    float: right;
}
.right-panel > ul li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
.left-panel{
}
.main-top{
    background-color: #0c5460;
    height: 100px;
}