.main-top{
    background-color: #3b4044;
    padding: 15px;
}
.user-panel-links > ul li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
.user-panel-links ul {
    float: right;
}
.applyY a{
    color: #d4b04f;
}
.applyW{
    color: #c3c7ca;
}
a:hover {
    text-decoration: none !important;
}
nav .navbar{
    /*padding:0 ;*/
}
div.window{
    margin-top:  10px;
}

body{
    background-color: #f4f3ee;
    margin: 0;
    padding: 0;
}
/*.row{
    margin: 0;
}*/
nav{
    margin: 0px;
    padding: 0;
}
.window{
    margin-top: 30px;
    /*background: url('../images/whatsapp_bg.png');*/
}
.form-group p{
    margin-bottom: 0px;
}