.main-top{
    background-color: #3b4044;
    padding: 15px;
}
.user-panel-links > ul li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
.user-panel-links ul {
    float: right;
}
.applyY a{
    color: #d4b04f;
}
.applyW{
    color: #c3c7ca;
}
a:hover {
    text-decoration: none !important;
}